<div class="page card mb-4" id="{{id}}">
   <!-- begin::Body-->
   <div class="card-body" >
      <!-- begin::Wrapper-->
      <div class="mw-lg-950px mx-auto w-100">
         <center >
            <h2>
               {{object.organization.org_name}}  
            </h2>
            {{object.organization.company_address}} | Phone Number:  {{object.organization.company_contact_number}}<br>
            PAN: {{object.organization.tax_number}} 
            <hr>
            <h5> 
               {% if not object.status %}
               Sales Return
               {% else %}
                  {%if object.print_count == 1 %} {{name}} {%endif%}
                  {% if object.print_count == 2 %} Invoice {%endif%} 
                  {%if object.print_count > 2 %} Copy of Original Invoice - {{object.print_count|add:-2}} {%endif%}
               {% endif %}
            </h5>
            <br>
         </center>
         <!-- begin::Header-->
         <div class="row mb-4">
            <div class="col">
               Billing Office: <strong>  {{object.branch.name}} </strong><br>
               Invoice Number: <strong>  {{object.invoice_number}} </strong><br>
               Transaction Date: <strong>  {{object.transaction_date_time|date:"Y.m.d h:i a"}} </strong><br>
               Invoice Issue Date: <strong>  {{object.transaction_date|date:"Y.m.d"}} </strong><br>
               Transaction Miti: <strong>  {{object.transaction_miti}} </strong>
            </div>
            <div class=" col text-end ">
               Customer Name : <strong>  {{object.customer_name}} </strong><br>
               Customer PAN : <strong>  {{object.customer_tax_number}} </strong><br>
               Cutomer Address: <strong>  {{object.customer_address}} </strong>
            </div>
            <!--end::Logo-->
         </div>
         <!--end::Header-->
         <!--begin::Body-->
         <div class=" pb-0">
            <!--begin::Wrapper-->
            <div class="d-flex justify-content-between flex-column flex-md-row">
               <!--begin::Content-->
               <div class="flex-grow-1 mb-13">
                  <!--begin::Table-->
                  <div class="table-responsive border-bottom mb-14">
                     <table class="table">
                        <thead>
                           <tr class="border-bottom fs-6 fw-bolder text-muted text-uppercase">
                              <th class="fs-7 pb-2" style="border-color: black;">Item</th>
                              <th class="fs-7 min-w-20px pb-2 text-end" style="border-color: black;">QTY</th>
                              <th class="fs-7 min-w-50px pb-2 text-end" style="border-color: black;">Unit</th>
                              <th class="fs-7 min-w-80px pb-2 text-end" style="border-color: black;">Rate</th>
                              <th class="fs-7 min-w-100px pe-lg-6 pb-2 text-end" style="border-color: black;">Amount</th>
                           </tr>
                        </thead>
                        <tbody>
                           {%for item in object.bill_items.all%}
                           <tr class="fw-bolder text-gray-700 text-end">
                              <td style="font-size: 10px;" class="d-flex align-items-center pt-1">{{item.product_title}}</td>
                              <td style="font-size: 10px;" class="pt-1">{{item.product_quantity}}</td>
                              <td style="font-size: 10px;" class="pt-1">{{item.unit_title}}</td>
                              <td style="font-size: 10px;" class="pt-1">Rs.{{item.rate}}  </td>
                              <td style="font-size: 10px;" class="pt-1 pe-lg-6 text-dark fw-boldest text-end">Rs. {{item.amount|floatformat:2}}</td>
                           </tr>
                           {%endfor%}
                           <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-end p-0 pt-5"><strong > Sub Total </strong></td>
                              <td class="text-end p-0 pt-5">{{object.sub_total|floatformat:2}}</td>
                           </tr>
                           <tr >
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-end p-0"><strong> Discount </strong></td>
                              <td class="text-end p-0">{{object.discount_amount|floatformat:2}}</td>
                           </tr>
                           <tr >
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-end p-0"><strong> Taxable Amount </strong></td>
                              <td class="text-end p-0">{{object.taxable_amount|floatformat:2}}</td>
                           </tr>
                           <tr >
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-end p-0"><strong> Tax Amount </strong></td>
                              <td class="text-end p-0">{{object.tax_amount|floatformat:2}}</td>
                           </tr>
                           <tr >
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-end p-0 pt-2">
                                 <h5>  Grand Total </h5>
                              </td>
                              <td class="text-end p-0 pt-2"> <strong >{{object.grand_total|floatformat:2}} </strong></td>
                           </tr>
                        </tbody>
                     </table>
                     <p class="text-end"> In Words:  {{object.amount_in_words}}</p>
                     <p class="text-end">  Mode: {{object.payment_mode}}</p>
                     {% if reason %}
                        <p class="text-end">  Reason: {{reason}}</p>
                     {% endif %}
                  </div>
                  <div class="row">
                   
                     <div class="col">
                        __________________ <br>
                       <p>  Received By </p>
                     </div>
                       <div class="col  text-end">
                        {{request.user.full_name}}<br>
                        Dispatched By
                     </div>

                  </div>

                  <!--end::Table-->
               </div>
               <!--end::Content-->

               <!--begin::Content-->
            </div>
            <!--end::Wrapper-->
         </div>
         <!--end::Body-->
      </div>
      <!-- end::Wrapper-->
   </div>
   <!-- end::Body-->
</div>