
{%extends 'base.html'%}
{% block pagetitle %}Sales Invoice Summary Register - Date Wise {% endblock %}
{% block home %} {% url 'invoice_summary_register' %} {% endblock %}
{% block title %}Sales Invoice Summary Register - Date Wise {% endblock %}
{% block content %}
 {% include 'components/title_bar.html' with title='Sales Invoice Summary Register - Date Wise' subtitle_date="True" %}
                <div class="card">

                {% include 'components/search_filter.html' with show_terminal="yes"  search_title="Search" export_url="invoice_summary_register" object_list="true" format="xls" %} 


    <div class="card-body pt-0">
    <!--begin::Table-->
    <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      {% include 'components/org_header.html' with name="Sales Invoice Summary" %}
      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
          <!--begin::Table head-->
          {%if object_list%}
          <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
      
              <th class="min-w-10px sorting" tabindex="0" > SN</th>
              <th class="min-w-100px sorting" tabindex="0" > Date</th>
              <th class="min-w-125px sorting" tabindex="0" >Invoice No.</th>
              <th class="min-w-125px sorting" tabindex="0" > Customer Name</th>
              <th class="min-w-125px sorting" tabindex="0" > Amount</th>
              <th class="min-w-10px sorting" tabindex="0" > Product Dis.</th>
              <th class="min-w-50px sorting" tabindex="0" > DISCOUNT</th>
              <th class="min-w-50px sorting" tabindex="0" > VAT</th>
              <th class="min-w-10px sorting" tabindex="0" > Other Terms</th>
              <th class="min-w-100px sorting" tabindex="0" >Net Current Amount</th>
            </tr>
            <!--end::Table row-->
          </thead>
          {%endif%}
          <tbody class="fw-bold text-gray-600">

          {% for object in object_list %}
             <tr class="odd" id="obj-{{object.pk}}">
                <td> <a href="{%url 'bill_detail' object.id%}">  {{forloop.counter}} </a></td>
                <td>{{object.transaction_date|date:"d/m/Y"}}</td>
                <td> <a href="{%url 'bill_detail' object.id%}">{{object.invoice_number}}</a></td>
                <td>{{object.customer.name}}</td>
                <td>{{object.sub_total}}</td>
                <td>0.00</td>
                <td>{{object.discount_amount}}</td>
                <td>{{object.tax_amount}}</td>
                <td>0.00</td>
                <td>{{object.grand_total}}</td>
             </tr>
             {%empty%}
             {% include 'components/empty.html' with  title="Sales invoice Summary "%}
              {% endfor %}

            {% if object_list %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><h3>Total </h3> </td>
              <td><h4>{{total_sales_amount|floatformat:2}}</h4> </td>
              <td><h4>0.00 </h4> </td>
              <td><h4>{{total_discount_amount|floatformat:2}} </h4> </td>
              <td><h4>{{total_tax_amount|floatformat:2}} </h4> </td>
              <td><h4>0.00 </h4> </td>
              <td><h4>{{total_grand_total|floatformat:2}} </h4> </td>
            </tr>
            {% endif %}

          </tbody>
          <!--end::Table body-->
        </table>
      </div>
    {%if object_list%}
      {% include 'pagination.html' %}
    {%endif%}
    </div>
    <!--end::Table-->
  </div>
  <!--end::Card body-->
</div>

<script>
</script>

{% endblock %}

