
{%extends 'base.html'%}
{% block pagetitle %}Purchase List {% endblock %}
{% block home %} {% url 'product_purchase_list' %} {% endblock %}
{% block title %}Purchase List {% endblock %}
{% block content %}
 {% include 'components/title_bar.html' with title=' Purchase List '  %}
                <div class="card">

                {% include 'components/search_filter.html' with show_terminal="yes"  search_title="Search Purchase" create_button="Create Purchase" create_url="product_purchase_create" %} 

    <div class="card-body pt-0">
    <!--begin::Table-->
    <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
          <!--begin::Table head-->
          {%if object_list%}
          <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
       
              <th class="min-w-225px sorting" tabindex="0" > Date Time</th>
              <th class="min-w-225px sorting" tabindex="0" > Vendor Name</th>
              <th class="min-w-225px sorting" tabindex="0" > Bill Date</th>
              <th class="min-w-225px sorting" tabindex="0" > Void</th>
              <th class="min-w-225px sorting" tabindex="0" > Discount Percentage</th>
              <th class="min-w-225px sorting" tabindex="0" > Tax Amount</th>
              <th class="min-w-225px sorting" tabindex="0" > Total</th>

            </tr>
            <!--end::Table row-->
          </thead>
          {%endif%}
          
          <tbody class="fw-bold text-gray-600">

          {% for object in object_list %}
             <tr class="odd" id="obj-{{object.pk}}">
                <td> <a href="{% url 'purchase_detail' object.pk %}"> {{object.created_at}} </a></td>
                <td>{{object.vendor.name}}</td>
                <td>{{object.bill_date}}</td>
                <td>
                  {% include "components/status.html" with status=object.status true_message="NO" false_message="YES" %}
                </td>
                <td>{{object.discount_percentage}}</td>         
                <td>{{object.tax_amount}}</td>
                <td>{{object.grand_total}}</td>
                <td>
                  <span class="badge badge-light-success text-uppercase"></span>
                </td>
  
 
             </tr>
             {%empty%}
             {% include 'components/empty.html' with  title="Purchase"%}
              {% endfor %}

          </tbody>
          <!--end::Table body-->
        </table>
      </div>
    {%if object_list%}
      {% include 'pagination.html' %}
    {%endif%}
    </div>
    <!--end::Table-->
  </div>
  <!--end::Card body-->
</div>

<script>
</script>

{% endblock %}

