{% load tags %}
<div class="toolbar" id="kt_toolbar">
   <!--begin::Container-->
   <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
      <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
         <!--begin::Title-->
         <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
            {{title}}
            {% if subtitle_date %}
               {% if request.GET.fromDate and request.GET.toDate %}
                  (for the period of {{ request.GET.fromDate|convert_str_date }} to {{ request.GET.toDate|convert_str_date }} )
               {% else %}
                  (for the period of {% now 'd/m/Y' %} to {% now 'd/m/Y' %} )
               {% endif %}
            {% endif %}
            <!--begin::Separator-->
            <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
            <!--end::Separator-->
         </h1>
         <!--end::Title-->
      </div>
      <!--end::Page title-->
      <!--begin::Actions-->
      <div class="d-flex align-items-center py-1">
         {% if end %}
            <a class="btn btn-sm btn-primary" id="fiscal-year-end-btn" >End Fiscal Year</a>
         {% endif %}
         {% if create %}  <a href="create/" class="btn btn-sm btn-primary" >Create</a>
         {% endif %}
         {% if pk %}  <a href="update/" class="btn btn-sm btn-info" >Edit</a>
         {% endif %}
         {% if return %}
         <a href="{% url return %}" class="btn btn-sm btn-danger" >Back</a>
         {% endif %}
         {% if back %}
         <button class="btn btn-sm btn-danger" onclick="history.back()">Back</button>
         {% endif %}
         <!--end::Button-->
      </div>
   </div>
   <!--end::Container-->
</div>
<!--end::Toolbar-->
